/*
superchafa.com
Ulises_Legarreta
rotarypot@gmail.com
ul@superchafa.com
*/

body{
	background-color: #ffffff;
	font-family: "adelle",serif;
	color: #6d6d6d;
}

h1 {
	font-family: "adelle",serif;
	font-style: normal;
	font-weight: 600;
	color: #2d2d2d;
	font-size: 1.6rem;
}
footer h1 {
	color: #FFF;
}
h1+h2 {
	font-size: .9rem;
	font-family: "europa", serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #9a9a9a;	
}
h3{
	font-size: 1rem;
	font-weight: bold;
	color: #101010;
	font-family: "europa";
	margin-bottom: 0;
}
h4 {
	font-size: .9rem;
	font-weight: bold;
	color: #9a9a9a;
	font-family: "europa";
	margin: 0 0 5px 0;

}
p{
	font-size: 1rem;
	line-height: 1.4;
}
ul {
	margin-left: 30px
}
li {
	line-height: 1.4;
	margin-bottom: .5rem;
}
i {
	font-size: 2.5rem;
}

.retrato{
	margin: 15px 0 0 0 ;
	display: block;
	width: 150px;
	height: 150px;
	background-image: url(../img/retrato.png);
	background-repeat: no-repeat;	
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina stuff here */

.retrato {
	margin: 15px 0 0 0 ;
	display: block;
	width: 150px;
	height: 150px;
	background-image: url(../img/retrato2x.png);
	background-repeat: no-repeat;	
	background-size: 150px;
}

}


footer{
	background-color: #272822;
	color: #9d9d9d;
	padding: 2rem 0;
}
footer a {

}